.EmployeeList {
	height: 100vh;
}
.margin {
	margin-top: 5rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.paginationBttns {
	margin-top: 0.5rem;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 40px;
	padding-left: 0;
}

.paginationBttns a {
	display: inline-block;
	margin: 0 0.3rem;
	padding: 0.3rem 0.6rem;
	border: 1px solid #212529;
	color: #212529;
	cursor: pointer;
	text-decoration: none;
}

.paginationBttns a:hover {
	color: white !important;
	background-color: #212529;
}

.paginationActive a {
	color: white !important;
	background-color: #212529;
}

.paginationDisabled a {
	display: none;
}

/* Loader Spinner */
.loader {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 910px) {
	.EmployeeList .left-bar {
		width: 100%;
	}
}

@media only screen and (max-width: 560px) {
	.margin {
		margin-right: 0;
		margin-left: 0;
	}

	.paginationBttns a {
		margin: 4px;
	}
	.paginationBttns {
		height: 80px;
	}
}
