.EmployeeList {
	height: 100vh;
}
.margin {
	margin-top: 5rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

/*-============================================*/
.paginationBttns {
	margin-top: 0.5rem;
	list-style: none;
	display: flex;
	justify-content: center;
	height: 40px;
}

.paginationBttns a {
	display: inline-block;
	margin: 0 0.3rem;
	padding: 0.3rem 0.6rem;
	border: 1px solid #212529;
	color: #212529;
	cursor: pointer;
	text-decoration: none;
}

.paginationBttns a:hover {
	color: white !important;
	background-color: #212529;
}

.paginationActive a {
	color: white !important;
	background-color: #212529;
}

.paginationDisabled a {
	pointer-events: none;
}

@media only screen and (max-width: 910px) {
	.EmployeeList .left-bar {
		width: 100%;
	}
}
